name: Update new posts

on:
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
        with:
          repository: bot-lnvs/phoenix-cli
          token: ${{ secrets.REPO_TOKEN }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        
      - run: yarn config set registry https://npm.f97.xyz/
      - run: yarn
#       - run: yarn clean
#       - run: yarn update
      - name: Update changes in GitHub repository
        run:  |
          git config --global user.name 'bot-lnvs' 
          git config --global user.email 'bot@lnvs.net'
          git add -A
          git commit -m '⬆️ update new posts with github action' --allow-empty
          git push -f
